{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h1>{{ 'webgriffe_sylius_nexi.ui.processing_payment'|trans }}</h1>

    <p>{{ 'webgriffe_sylius_nexi.ui.please_wait'|trans }}</p>

    <img src="{{ asset('build/shop/images/loading.gif', 'shop') }}" alt="{{ 'webgriffe_sylius_nexi.ui.loading'|trans }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        window.afterUrl = "{{ afterUrl }}";
        window.paymentStatusUrl = "{{ paymentStatusUrl }}";
    </script>
    <script src="{{ asset('bundles/webgriffesyliusnexiplugin/poll_payment.js') }}"></script>
{% endblock %}
